<div>
  <h1 style= 'text-align:center'>Create New Author</h1>
  
  <%= form_for(@author, :url => authors_path, :method => 'post') do |f| %>
    <%=render(:partial =>'form', :locals => {:f=>f})%>
  <% end %>
</div>

<%= link_to 'Back', authors_path %>
