<h1 style = "text-align:center;">Welcome to The Book Publication</h1>
<p style = "margin: 20px 1px"></p>

<p style = "text-align:center;">
  <%= link_to 'Display Authors', authors_path%>
  <%= link_to 'Display Books', books_path%>
</p>
